<practice-header></practice-header>
<practice-header></practice-header>
<practice-header></practice-header>
<div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
</div> 

<!-- {{  rooms.availableRooms ?? 'No rooms available' }}  -->

<!-- {{ roomList | json }} -->

@if (selectedRoom) {
    <div>
        {{ selectedRoom | json }}
    </div>
}

<div>
    <button (click)="addRoom()">Add room</button>
</div>

@if (hideRooms) {
    <practice-rooms-list [rooms]="roomList" [title]="title"
                         (selectedRoom)="selectRoom($event)"   
    ></practice-rooms-list>
    }
    @else {
        <div></div>
    }



<button (click)="toggle()">Toggle</button>