<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
</div> 

<!-- {{  rooms.availableRooms ?? 'No rooms available' }} -->

<!-- {{ roomList | json }} -->

@if (selectedRoom) {
    <div>
        {{ selectedRoom | json }}
    </div>
}

@if (rooms.availableRooms > 0) {
    <practice-rooms-list [rooms]="roomList"
                         (selectedRoom)="selectRoom($event)"   
    ></practice-rooms-list>
    }
    @else {
        <div></div>
    }



<button (click)="toggle()">Toggle</button>